@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root {
--primeira-cor: black ;
--segunda-cor: white;
--terceira-cor: #AC017D;
--cor-hover: #272727;

--primeira-fonte: 'Krona One', sans-serif;
--segunda-fonte: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color:var(--primeira-cor);
    color: var(--segunda-cor);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    text-decoration: none;
    font-family: var(--segunda-fonte);
    font-weight: 600;
    font-size: 24px;
    color: var(--terceira-cor);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: var(--primeira-fonte);
}

.titulo-destaque {
    color: var(--terceira-cor);
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: var(--segunda-fonte);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
font-family: var(--primeira-fonte);
font-weight: 400;
font-size: 24px;

}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--terceira-cor);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--segunda-cor);
    font-family: var(--segunda-fonte);
}

.apresentacao__links__link:hover{
    background-color: var(--cor-hover);
}

.rodape {
    color: var(--segunda-cor);
    background-color: var(--terceira-cor);
    padding: 24px;
    text-align: center;
    font-family: var(--segunda-fonte);
    font-weight: 400;
    font-size: 24px;
    
}